name: update-data

on:
  workflow_dispatch:
  schedule:
    - cron:  '15 */2 * * *'

jobs:
  download-and-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - run: chmod +x ./index.mjs
    - run: curl -s https://chianetspace.azurewebsites.net/data/summary | ./index.mjs > ./docs/summary.json
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update JSON info files
        file_pattern: docs/*.json
